@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 52px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  overflow: hidden; /* Ensures that only visible text is shown */
  white-space: nowrap; /* Prevents text from wrapping */
  animation: typewriter 4s steps(40, end) 1s 1 normal both; /* Typewriter effect */
}

.description {
  font-size: 20px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  line-height: 1.6;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contactBtn:hover {
  background-color: var(--color-dark);
  transform: scale(1.05);
}

.heroImg {
  width: 45%; /* Adjust width to fit with the text */
  border-radius: 20px; /* Rounded edges */
  object-fit: cover; /* Ensure the image covers the container */
  z-index: 1;
  margin-left: 20px; /* Space between text and image */
}

.topBlur, .bottomBlur {
  position: absolute;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.topBlur {
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
}

.bottomBlur {
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 246px;
  right: -25vw;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}

/* Typewriter Effect */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
